DATABASE_URL=postgresql://postgres:postgres@localhost:5432/slashly
DATABASE_READ_REPLICA_URL=postgresql://postgres:postgres@localhost:5433/slashly
RABBITMQ_URL=amqp://admin:admin@localhost:5672
SERVER_URL=http://localhost:8080